<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style/style.css') }}">
    <title>View Data</title>
</head>
<body>
    <main class="content">
        <div class="container">
            <div class="viewer">
                <button class="viewer__btn-update">Обновить</button>
                <div class="viewer__text"></div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', path='js/script.js') }}" type="module"></script>
</body>
</html>